* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "Frente H1";
  src: url("../font/FrenteH1-Regular.otf");
}
html {
  font-size: 10px;
}
body {
  font-family: "Frente H1";
  background-color: #a19691;
  width: 100%;
}
header {
  margin: 3rem auto;
}
.tampilan-awal h1 {
  margin-top: 10px;
}
h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}
.off {
  opacity: 0;
}
.on {
  opacity: 1;
}
.main {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.game-area,
.tampilan-awal {
  background-color: #e6eddf;
  text-align: center;
  width: 85%;
  border-radius: 3rem;
  margin: 1rem auto 1rem auto;
  padding: 0rem, 2rem, 1rem, 2rem;
  font-size: 2.2rem;
  box-sizing: border-box;
  box-shadow: 1rem 1rem 0.5rem rgba(0, 0, 0, 0.7);
}
.tampilan-awal {
  opacity: 1;
  margin-top: 11.8rem;
  padding-top: 1rem;
  padding-bottom: 1px;
}
.batu,
.gunting,
.kertas,
.awal {
  width: 250px;
  height: 250px;
  margin: 3rem auto 0rem auto;
  font-size: 2.5rem;
}
.hasilPlayer {
  margin: 1.5rem 0 1rem 0;
  padding-bottom: 1rem;
  letter-spacing: 0.2rem;
  font-size: 3rem;
}
.hasilComputer,
.hasil {
  margin: 1.5rem 0 1rem 0;
  padding-bottom: 1rem;
  letter-spacing: 0.2rem;
  font-size: 3rem;
}
h2 {
  font-size: 30px;
  margin: 0 30px;
}
.score-area {
  margin: 30px auto;
  text-align: center;
}
.scorePlayer,
.scoreComputer {
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 10px;
  letter-spacing: 0.2rem;
  margin: 10px auto;
}
.scorePlayer {
  margin-top: 10px;
}
.tombol-area {
  text-align: center;
}
.reset,
.selesai,
.tombol-mulai {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin: 0 20px 50px 20px;
  border-radius: 20%;
}
.reset {
  background-color: crimson;
}
.selesai,
.tombol-mulai {
  background-color: limegreen;
}
.tombol-mulai {
  width: 150px;
  margin: 0 auto 50px auto;
  border-radius: 15px;
}
footer {
  width: 100%;
  padding-top: 3px;
  text-align: center;
  font-size: 20px;
}
.hati {
  color: rgb(199, 0, 40);
}
.link {
  color: darkblue;
}
.batu,
.gunting,
.kertas,
h2,
.scorePlayer,
.scoreComputer,
.reset,
.selesai,
.awal {
  display: inline-block;
}
